In [1]:
import pandas as  pd
import numpy as np

In [3]:
dates = pd.date_range('20130101', periods=6)

In [4]:
df = pd.DataFrame(np.arange(24).reshape((6, 4)),
                  index=dates, 
                  columns=['A','B','C','D'])

In [5]:
df.iloc[0, 1] = np.nan

In [6]:
df.iloc[1, 2] = np.nan

In [7]:
df

             A     B     C   D
2013-01-01   0   NaN   2.0   3
2013-01-02   4   5.0   NaN   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [12]:
# 当出现nan的时候丢掉这一行（axis=0表示丢掉行）的数据
# how = {'any', ''all}
# how = all的时候代表当这一行的数据全为nan的时候才会进行丢弃
# how = any的时候代表只要有数据为nan的时候就会进行丢弃(默认就是any)
print(df.dropna(axis=0, how='any'))

             A     B     C   D
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [14]:
# 填充数据
# 使用0来对缺失数据进行填充
print(df.fillna(value=0))

             A     B     C   D
2013-01-01   0   0.0   2.0   3
2013-01-02   4   5.0   0.0   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [16]:
# 判断是否缺失数据
print(df.isnull())

                A      B      C      D
2013-01-01  False   True  False  False
2013-01-02  False  False   True  False
2013-01-03  False  False  False  False
2013-01-04  False  False  False  False
2013-01-05  False  False  False  False
2013-01-06  False  False  False  False

In [19]:
# 如果表格太大看不清，可以使用一下方式来观察,至少有一个是丢失的时候，
# 就会返回True
print(np.any(df.isnull()) == True)

True