In [8]:
import pandas as pd
import numpy as np

In [9]:
# 读取csv文件
data = pd.read_csv('csv_file/students.csv')

In [10]:
data

     Student ID  name age\tgender
1100      Kelly    22      Female
1101        Clo    21      Female
1102      Tilly    22      Female
1103       Tony    24        Male
1104      David    20        Male
1105      Catty    22      Female
1106          M     3      Female
1107          N    43        Male
1108          A    13        Male
1109          S    12        Male
1110      David    33        Male
1111         Dw     3      Female
1112          Q    23        Male
1113          W    21      Female

In [12]:
data.to_pickle('csv_file/students.pickle')