In [78]:
import pandas as pd

In [79]:
# merging two df by key/keys. 
#(may be used in database)
left = pd.DataFrame({'key' : ['K0', 'K1', 'K2', 'K3'],
                     'A' : ['A0', 'A1', 'A2', 'A3'],
                     'B' : ['B0', 'B1', 'B2', 'B3']
                    })

In [80]:
right = pd.DataFrame({'key' : ['K0', 'K1', 'K2', 'K3'],
                     'C' : ['A0', 'A1', 'A2', 'A3'],
                     'D' : ['B0', 'B1', 'B2', 'B3']
                    })

In [81]:
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

In [82]:
right

    C   D key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

In [83]:
# on设置在那一列进行合并
res = pd.merge(left, right, on='key')

In [84]:
res

    A   B key   C   D
0  A0  B0  K0  A0  B0
1  A1  B1  K1  A1  B1
2  A2  B2  K2  A2  B2
3  A3  B3  K3  A3  B3

In [85]:
# consider two keys
left2 = pd.DataFrame({'key1' : ['K0', 'K0', 'K1', 'K2'],
                      'key2' : ['K0', 'K1', 'K0', 'K1'],
                      'A' : ['A0', 'A1', 'A2', 'A3'],
                      'B' : ['B0', 'B1', 'B2', 'B3']
                     })

In [86]:
right2 = pd.DataFrame({'key1' : ['K0', 'K1', 'K1', 'K2'],
                       'key2' : ['K0', 'K0', 'K0', 'K0'],
                       'C' : ['A0', 'A1', 'A2', 'A3'],
                       'D' : ['B0', 'B1', 'B2', 'B3']
                      })

In [87]:
left2

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [88]:
right2

    C   D key1 key2
0  A0  B0   K0   K0
1  A1  B1   K1   K0
2  A2  B2   K1   K0
3  A3  B3   K2   K0

In [89]:
# 此时left2和right2的key比较乱
# 默认的使用方式为inner，会保留二者都有的，丢弃只有一方有的
# how = ['left', 'right', 'outer', 'iner']
res2 = pd.merge(left2, right2, on=['key1', 'key2'])

In [90]:
res2

    A   B key1 key2   C   D
0  A0  B0   K0   K0  A0  B0
1  A2  B2   K1   K0  A1  B1
2  A2  B2   K1   K0  A2  B2

In [91]:
res3 = pd.merge(left2, right2, on=['key1', 'key2'],
                how='right')

In [92]:
res3

     A    B key1 key2   C   D
0   A0   B0   K0   K0  A0  B0
1   A2   B2   K1   K0  A1  B1
2   A2   B2   K1   K0  A2  B2
3  NaN  NaN   K2   K0  A3  B3

In [93]:
res4 = pd.merge(left2, right2, on=['key1', 'key2'],
                how='outer')

In [94]:
res4

     A    B key1 key2    C    D
0   A0   B0   K0   K0   A0   B0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   A1   B1
3   A2   B2   K1   K0   A2   B2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   A3   B3

In [95]:
df1 = pd.DataFrame({'col1' : [0, 1], 
                    'col_left' : ['a', 'b']})

In [96]:
df2 = pd.DataFrame({'col1' : [1, 2, 2],
                    'col_right' : [2, 2, 2]})

In [97]:
df1

   col1 col_left
0     0        a
1     1        b

In [98]:
df2

   col1  col_right
0     1          2
1     2          2
2     2          2

In [99]:
# 使用indicator来指示左还是右有数值进行合并
res = pd.merge(df1, df2, on='col1', how='outer', indicator=True)

In [100]:
res

   col1 col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b        2.0        both
2     2      NaN        2.0  right_only
3     2      NaN        2.0  right_only

In [101]:
# 给指示列一个名字
res = pd.merge(df1, df2, on='col1', how='outer', 
               indicator='indicate_col')

In [102]:
res

   col1 col_left  col_right indicate_col
0     0        a        NaN    left_only
1     1        b        2.0         both
2     2      NaN        2.0   right_only
3     2      NaN        2.0   right_only

In [103]:
# 按照index来进行合并

In [104]:
left = pd.DataFrame({'A' : ['A0', 'A1', 'A2'],
                     'B' : ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])

In [105]:
right = pd.DataFrame({'C' : ['C0', 'C2', 'C3'],
                     'D' : ['D0', 'D1', 'D3']},
                     index=['K0', 'K2', 'K3'])

In [106]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [107]:
right

     C   D
K0  C0  D0
K2  C2  D1
K3  C3  D3

In [108]:
# left_index and right_index
res = pd.merge(left, right, left_index=True, right_index=True,
               how='outer')

In [109]:
res

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D1
K3  NaN  NaN   C3   D3

In [110]:
boys = pd.DataFrame({'k' : ['K0', 'K1', 'K2'],
                     'age' : [1, 2, 3]})

In [111]:
girls = pd.DataFrame({'k' : ['K0', 'K0', 'K3'],
                      'age' : [4, 5, 6]})

In [112]:
boys

   age   k
0    1  K0
1    2  K1
2    3  K2

In [113]:
girls

   age   k
0    4  K0
1    5  K0
2    6  K3

In [114]:
res = pd.merge(boys, girls, on='k',
               suffixes=['_boy', '_girl'],
               how='inner')

In [115]:
res

   age_boy   k  age_girl
0        1  K0         4
1        1  K0         5