In [3]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1, 3, 6, np.nan, 44, 1])

In [5]:
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [10]:
# 打印出6个时间日期，类型为日期的dtype
dates = pd.date_range('20160101', periods=6)

In [8]:
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, 
                 columns=['a', 'b', 'c', 'd'])

In [14]:
df

                   a         b         c         d
2016-01-01 -1.089067 -2.319282  0.467861  1.006901
2016-01-02  0.183109 -1.119637 -1.085801  0.000501
2016-01-03  0.235372  0.986895  1.609765  1.005658
2016-01-04  0.276227  0.015847  0.477701 -0.475629
2016-01-05  0.476330  1.296246 -1.679775 -1.992124
2016-01-06 -0.165831 -0.255573 -1.168505 -0.975491

In [15]:
df1 = pd.DataFrame(np.arange(12).reshape(3, 4))

In [17]:
df1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [26]:
# 也可以使用字典的形式
df2 = pd.DataFrame({'A':1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'fool'
                   
                   
                   })

In [27]:
df2

     A          B    C  D      E     F
0  1.0 2013-01-02  1.0  3   test  fool
1  1.0 2013-01-02  1.0  3  train  fool
2  1.0 2013-01-02  1.0  3   test  fool
3  1.0 2013-01-02  1.0  3  train  fool

In [28]:
print(df2)

     A          B    C  D      E     F
0  1.0 2013-01-02  1.0  3   test  fool
1  1.0 2013-01-02  1.0  3  train  fool
2  1.0 2013-01-02  1.0  3   test  fool
3  1.0 2013-01-02  1.0  3  train  fool

In [31]:
# 每一列数据的类型
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [33]:
# 所有行的序号
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [35]:
# 所有列的序号
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [37]:
# 按照行将数据进行输出
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'fool'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'fool'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'fool'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'fool']], dtype=object)

In [39]:
# 输出能够被数字形式进行计算的数据的一些统计数据
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [41]:
# 将这个数据按照矩阵的形式来进行转置（行列互换）
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,fool,fool,fool,fool

In [48]:
# （axis=1）来对列索引进行倒排序（ascending=False)
df2.sort_index(axis=1, ascending=False)

      F      E  D    C          B    A
0  fool   test  3  1.0 2013-01-02  1.0
1  fool  train  3  1.0 2013-01-02  1.0
2  fool   test  3  1.0 2013-01-02  1.0
3  fool  train  3  1.0 2013-01-02  1.0

In [49]:
# （axis=0）来对行索引来进行倒排序
df2.sort_index(axis=0, ascending=False)

     A          B    C  D      E     F
3  1.0 2013-01-02  1.0  3  train  fool
2  1.0 2013-01-02  1.0  3   test  fool
1  1.0 2013-01-02  1.0  3  train  fool
0  1.0 2013-01-02  1.0  3   test  fool

In [51]:
# 对’E'列来进行排序
df2.sort_values(by='E')

     A          B    C  D      E     F
0  1.0 2013-01-02  1.0  3   test  fool
2  1.0 2013-01-02  1.0  3   test  fool
1  1.0 2013-01-02  1.0  3  train  fool
3  1.0 2013-01-02  1.0  3  train  fool

KeyError: 1