In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.ones((3, 4)) * 0, 
                   columns=['a', 'b', 'c', 'd'])

In [3]:
df2 = pd.DataFrame(np.ones((3, 4)) * 1,
                  columns=['a', 'b', 'c', 'd'])

In [4]:
df3 = pd.DataFrame(np.ones((3, 4)) * 2,
                  columns=['a', 'b', 'c', 'd'])

In [5]:
df1

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [6]:
df2

     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0

In [7]:
df3

     a    b    c    d
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0

In [8]:
# 纵向合并（axis=0）
res = pd.concat([df1, df2, df3], axis=0)

In [9]:
res

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0

In [10]:
# 无视掉之前的行标排序，重新进行全体排序
res2 = pd.concat([df1, df2, df3], axis=0, 
                 ignore_index=True)

In [11]:
res2

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

In [12]:
# 另一种合并方式
# join, ['inner', 'outer']

In [16]:
df1 = pd.DataFrame(np.ones((3, 4)) * 0, 
                   columns=['a', 'b', 'c', 'd'],
                   index=[1, 2, 3])

In [17]:
df1

     a    b    c    d
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [18]:
df2 = pd.DataFrame(np.ones((3, 4)) * 1,
                  columns=['b', 'c', 'd', 'e'],
                  index=[2, 3, 4])

In [19]:
df2

     b    c    d    e
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0

In [24]:
# df1和df2两个数据行标和列表都不完全相同 
# 默认的使用模式为join='outer'
res = pd.concat([df1, df2], join='outer')

In [25]:
# 没有的部分使用NaN来进行填充
res

     a    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN
2  0.0  0.0  0.0  0.0  NaN
3  0.0  0.0  0.0  0.0  NaN
2  NaN  1.0  1.0  1.0  1.0
3  NaN  1.0  1.0  1.0  1.0
4  NaN  1.0  1.0  1.0  1.0

In [28]:
# 如果只想保存两者兼有的部分
# 则要使用模式join=‘inner’
res2 = pd.concat([df1, df2], join='inner', 
                 ignore_index=True)

In [29]:
res2

     b    c    d
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  1.0  1.0  1.0
4  1.0  1.0  1.0
5  1.0  1.0  1.0

In [30]:
df1

     a    b    c    d
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [31]:
df2

     b    c    d    e
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0

In [32]:
# 左右合并情况
# 按照df1的行标来进行合并情况
res = pd.concat([df1, df2], axis=1, 
                join_axes=[df1.index])

In [34]:
# 对于df2拥有的行索引为4的行进行丢弃
# 对于df2没有的行索引为1的行进行使用NaN来进行填充
res

     a    b    c    d    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

In [37]:
# 如果不进行join_axes来进行描述，那么此时会考虑到二者，
# 所有都进行保留，将二者没有的都使用NaN来进行填充
res = pd.concat([df1, df2], axis=1)

In [38]:
res

     a    b    c    d    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
4  NaN  NaN  NaN  NaN  1.0  1.0  1.0  1.0

In [49]:
# append
df1 = pd.DataFrame(np.ones((3, 4)) * 0, 
                   columns=['a', 'b', 'c', 'd']);
df2 = pd.DataFrame(np.ones((3, 4)) * 1,
                  columns=['a', 'b', 'c', 'd']);
df3 = pd.DataFrame(np.ones((3, 4)) * 1,
                  columns=['a', 'b', 'c', 'd']);

In [50]:
df1

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [51]:
df2

     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0

In [52]:
res = df1.append(df2, ignore_index=True)

In [53]:
res

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0

In [54]:
res2 = df1.append([df2, df3], ignore_index=True)

In [55]:
res2

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  1.0  1.0  1.0  1.0
7  1.0  1.0  1.0  1.0
8  1.0  1.0  1.0  1.0

In [56]:
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

In [58]:
# 序列Series添加到DataFrame上面去
res = df1.append(s1, ignore_index=True)

In [59]:
res

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  2.0  3.0  4.0

In [60]:
type(res)

pandas.core.frame.DataFrame