In [2]:
import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range('20130101', periods=6)

In [4]:
df = pd.DataFrame(np.arange(24).reshape((6, 4)), 
                  index = dates, columns=['A', 'B', 'C', 'D'])

In [5]:
df

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23

In [12]:
# 悬着出某一列的形式，有一下两种
print(df['A'],'\n',
      df.A)

2013-01-01     0
2013-01-02     4
2013-01-03     8
2013-01-04    12
2013-01-05    16
2013-01-06    20
Freq: D, Name: A, dtype: int64
 2013-01-01     0
2013-01-02     4
2013-01-03     8
2013-01-04    12
2013-01-05    16
2013-01-06    20
Freq: D, Name: A, dtype: int64

In [18]:
# 使用一下两种方式来对数据进行切片输出
print(df[0:3], '\n',df['20130102':'20130104'])

            A  B   C   D
2013-01-01  0  1   2   3
2013-01-02  4  5   6   7
2013-01-03  8  9  10  11
              A   B   C   D
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15

In [21]:
# select by label: loc(使用标签来进选择)
print(df.loc['20130102'])

A    4
B    5
C    6
D    7
Name: 2013-01-02 00:00:00, dtype: int64

In [23]:
# 选择所有的行和A,B这两个列
print(df.loc[:, ['A', 'B']])

             A   B
2013-01-01   0   1
2013-01-02   4   5
2013-01-03   8   9
2013-01-04  12  13
2013-01-05  16  17
2013-01-06  20  21

In [24]:
# 选择某行某列来进行输出
print(df.loc['20130102', ['A', 'B']])

A    4
B    5
Name: 2013-01-02 00:00:00, dtype: int64

In [28]:
# select by position:iloc 按照索引来进行输出
# 
print(df)

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23
13

In [29]:
print(df.iloc[3, 1])

13

In [30]:
print(df.iloc[3:5, 1:3])

             B   C
2013-01-04  13  14
2013-01-05  17  18

In [31]:
# 不连续筛选
print(df.iloc[[1, 3, 5], 1:3])

             B   C
2013-01-02   5   6
2013-01-04  13  14
2013-01-06  21  22

In [32]:
# 综合label和index进行筛选
print(df.ix[:3, ['A', 'C']])

            A   C
2013-01-01  0   2
2013-01-02  4   6
2013-01-03  8  10

In [34]:
df

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23

In [40]:
# 按照‘A'中大于8的数字来进行筛选，返回完整的列表
print(df[df.A > 8])

             A   B   C   D
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23